footer {
	@include box-shadow(0px,0px,10px,5px, rgba(0,0,0,0.2), false);
	padding-top:60px;
	height:160px;
	background-color:$footer-background-color;
	ul li a {
		color: $circle-background-color;
		font-size: rem-calc(16);
	}
	ul.social li a {
		@include circle(50px, $circle-background-color);
		color:$footer-background-color;
		font-weight:bold;
		&:hover{
			color: $white;
			background-color: lighten($circle-background-color, 10%);
		}
	}
	.inline-list li a {
		color:$circle-background-color;
		&:hover{
			color: lighten($circle-background-color, 10%);
		}
	}
}

.footer-bottom {
	background-color: $footer-bottom-background-color;
	height:40px;
	color:$white;
	line-height: 40px;
	font-size: rem-calc(13);
	border-top:1px solid $footer-background-color;
	outline:1px solid $footer-bottom-background-color;
	text-transform: uppercase;
}