$white: #fff;
$grey:#555;
$primary-color:$white;

$background-color: #f7f7f7;
$primary-font-color: #555;
$secondary-font-color: #fff;
$primary-font-hover-color: #666;

$header-top-color:#999;
$header-top-color-hover:#fff;
$header-top-background-color:#444;

$hover-background-color:#006567;
$top-bar-background-color:#fff;

$footer-background-color: #222;
$circle-background-color: #999;

$footer-bottom-background-color: #006567;
