@mixin box-shadow($top, $left, $blur, $size, $color, $inset:false) {
	@if $inset {
		-webkit-box-shadow: inset $top $left $blur $size $color;
		-moz-box-shadow: inset $top $left $blur $size $color;
		box-shadow: inset $top $left $blur $size $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $size $color;
		-moz-box-shadow: $top $left $blur $size $color;
		box-shadow: $top $left $blur $size $color;
	}
}

@mixin circle($width, $color) {
	text-align: center;
	width: $width;
	height: $width;
	line-height:$width;
	background: $color;
	-webkit-border-radius: $width/2;
	-moz-border-radius: $width/2;
	border-radius: $width/2;
}