$include-html-top-bar-classes: $include-html-classes;


$topbar-bg-color: $top-bar-background-color;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: rem-calc(60);
// $topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: bold;
// $topbar-title-font-size: rem-calc(17);

// Set the link colors and styles for top-level nav
$topbar-link-color: $grey;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white;
$topbar-link-weight: bold;
// $topbar-link-font-size: rem-calc(13);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
// $topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: $hover-background-color;
$topbar-link-bg-color-hover: $hover-background-color;
$topbar-link-bg-active: $hover-background-color;
//$topbar-link-bg-active-hover: scale-color($hover-background-color, $lightness: -14%);
$topbar-link-bg-active-hover: $hover-background-color;
// $topbar-link-font-family: $body-font-family;
// $topbar-link-text-transform: none;
// $topbar-link-padding: ($topbar-height / 3);
// $topbar-back-link-size: rem-calc(18);
// $topbar-link-dropdown-padding: rem-calc(20);
// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// Style the top bar dropdown elements
$topbar-dropdown-bg: $white;
$topbar-dropdown-link-color: $grey;
$topbar-dropdown-link-color-hover: $topbar-link-color-hover;
$topbar-dropdown-link-bg: $white;
$topbar-dropdown-link-bg-hover: $hover-background-color;
$topbar-dropdown-link-weight: bold;
// $topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: $grey;
$topbar-dropdown-toggle-alpha: 1;

// $topbar-dropdown-label-color: $monsoon;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: $oil;

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);
// $topbar-menu-link-weight: $font-weight-bold;
$topbar-menu-link-color: $grey;
$topbar-menu-icon-color: $grey;
$topbar-menu-link-color-toggled: $grey;
$topbar-menu-icon-color-toggled: $grey;
// $topbar-menu-icon-position: $opposite-direction; // Change to $default-float for a left menu icon

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
// $topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
// $topbar-media-query: $medium-up;

// Top-bar input styles
// $topbar-input-height: rem-calc(28);

// Divider Styles
// $topbar-divider-border-bottom: solid 1px scale-color($topbar-bg-color, $lightness: 13%);
// $topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item
// $topbar-dropdown-arrows: true; //Set false to remove the \00bb >> text from dropdown subnavigation li// 

.top-bar-section .active.has-dropdown > a:after {
   border-color: rgb(255, 255, 255) transparent transparent;
}
.top-bar-section .has-dropdown > a:hover:after {
   border-color: rgb(255, 255, 255) transparent transparent;
}